<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.batch.android">

    <uses-sdk
        android:targetSdkVersion="24" />

    <application>
      <activity android:name=".MessagingActivity"
                        android:theme="@style/com.batch.android.MessagingActivityTheme"
                        android:exported="false" />

      <activity android:name=".BatchActionActivity"
                android:theme="@style/com.batch.android.ActionActivityTheme"
                android:exported="false" />

      <service android:name=".BatchActionService"
          android:exported="false" />
    </application>

</manifest>
