.gradle
/local.properties
/maven.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Recommended ignore from Gradle
**/.idea/dataSources.*
**/.idea/inspectionProfiles
**/.idea/deploymentTargetDropDown.xml
**/.idea/misc.xml
**/.idea/gradle.xml
**/.idea/modules.xml
**/.idea/tasks.xml
**/.idea/workspace.xml
**/.idea/kotlinc.xml
**/.idea/uiDesigner.xml

**/.idea/dictionaries
**/.idea/libraries
**/.idea/caches

**/*.iml
**/.idea/saveactions_settings.xml
**/.idea/assetWizardSettings.xml
**/.idea/jarRepositories.xml

**/.idea/compiler.xml